@model List<JobAllListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Member/Views/Shared/_MemberLayout.cshtml";
    int index = 0;
}

@foreach (var job in Model)
{
    index++;
    <div class="mb-2">
        <div class="green-panel pn">
            <div class="green-header">
                <b>@job.Name</b>
            </div>
            <div>
                <h5>Aciliyet Durumu :<span class="label label-warning label-mini">@job.Aciliyet.Description </span> </h5>
                <p> @job.Description</p>

                <p class="text-center">
                    @if (job.Raporlar.Count > 0)
                    {
                        <a class="btn btn-danger btn-sm mb-2" data-toggle="collapse" href="#collapseExample-@index" role="button" aria-expanded="false" aria-controls="collapseExample">
                            Raporlara Git <i class="fas fa-caret-down ml-2"></i>
                            <span class="badge badge-info"> @job.Raporlar.Count</span>
                        </a>
                    }
                    else
                    {
                        <span class="text-left text-danger my-1 d-block">Rapor bulunmamaktadır. Görevinizdeki ilerlemeden bahsedin.</span>
                        <a asp-action="AddRapor" asp-route-id="@job.Id" class="btn btn-danger btn-sm mb-2">Rapor Yaz</a>
                    }

                    <a href="" data-id="@job.Id" data-toggle="modal" data-target="#exampleModal" class="btn btn-success btn-sm mb-2">
                        Tamamlandı Olarak İşaretle
                    </a>

                </p>
                <div class="collapse" id="collapseExample-@index">
                    <table class="table table-striped table-advance table-hover">
                        <thead>
                            <tr>
                                <th><i class="fa fa-bullhorn"></i> Tanım</th>
                                <th><i class="fa fa-question-circle"></i> Detay</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in @job.Raporlar)
                        {
                            <tbody>
                                <tr>
                                    <td class="text-left">@item.Description</td>
                                    <td class="text-left">@item.Detail</td>
                                    <td>
                                        <a asp-action="UpdateRapor" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="far fa-edit"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        }

                    </table>
                    <a asp-action="AddRapor" asp-route-id="@job.Id" class="btn btn-danger float-right mr-2 mb-1 btn-sm">Rapor Yaz</a>
                </div>
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">UYARI</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bu işlemi gerçekleştirmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Vazgeç</button>
                <button id="btnSave" type="button" class="btn btn-primary">Evet</button>
            </div>
        </div>
    </div>
</div>

@section JavaScript
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#exampleModal").on("show.bs.modal", function (event) {
                let tetikleyenElement = $(event.relatedTarget);
                let data = tetikleyenElement.data("id");
                $("#btnSave").click(function () {
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: "./IsEmri/CompleteJob",
                        data: { jobId: data },
                        success: function () {
                            window.location.reload();
                        },
                        error: function (error) {
                            alert(error.responseText);
                        }
                    });
                });
            });
        });
    </script>
}
