@model AppUserListDto

@{ string active = string.Empty;
    if (TempData["Active"] != null)
    {
        active = TempData["Active"].ToString();
    }
}

<!-- Sidebar -->
<div class="border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <img src="/img/@Model.Picture" class="img-thumbnail" style="height: 10rem !important; width: 12rem !important;" alt="@Model.Name">
    </div>
    <div class="list-group list-group-flush">

        <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action  @(active=="home"?"active":" ")">
            <i class="fas fa-home mr-2"></i>
            Anasayfa
        </a>

        <a asp-action="Index" asp-controller="IsEmri" class="list-group-item list-group-item-action  @(active=="isEmri"?"active":" ")">
            <i class="fas fa-clipboard-list mr-2"></i>
            Gelen İş Emirleri
        </a>

        <a asp-action="Index" asp-controller="Job" class="list-group-item list-group-item-action  @(active=="job"?"active":" ")">
            <i class="fas fa-clipboard-check mr-2"></i>
            Tamamlanan İşler
        </a>

        <a asp-action="Index" asp-controller="Notification" class="list-group-item list-group-item-action position-relative @(active=="notification"?"active":" ")">
            <i class="far fa-bell mr-2"></i>
            @if (ViewBag.Notifications > 0)
            {
                <sub class="badge badge-info badge-pill position-absolute " style="bottom:0.625rem!important;left:1.7rem!important;">
                    <small>@ViewBag.Notifications</small>
                </sub>
            }
            Bildirimler
        </a>

        <a asp-controller="Profile" asp-action="Index" class="list-group-item list-group-item-action  @(active=="profil"?"active":" ")">
            <i class="far fa-user mr-2"></i>
            Profilim
        </a>

        <a asp-area="" asp-action="SignOut" asp-controller="Home" class="list-group-item list-group-item-action ">
            <i class="fas fa-sign-out-alt mr-2"></i>
            Çıkış Yap
        </a>
    </div>
</div>